@import 'src/styles/media';
@import 'swiper/css';
@import 'swiper/css/pagination';

#detail-product {
  .container {
    @include media('<=tablet') {
      margin-top: 0;
    }
    .row {
      display: grid;
      grid-template-columns: 3fr 2fr;
      @include media('<=tablet') {
        grid-template-columns: 1fr;
      }
      gap: 2rem;
      .col {
        width: 100%;
        .card {
          width: 100%;
          border-radius: 25px;
          padding: 1.5rem;
          background-color: var(--white);
          & + .card {
            margin-top: 2rem;
          }

          &.images {
            &.desk {
              @include media('<=tablet') {
                display: none;
              }
              width: 100%;
              display: flex;
              gap: 1.5rem;
              aspect-ratio: 2/2.15;
              .all-images {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                padding-right: 0.2rem;
                overflow: auto;
                flex: none;
                .image {
                  width: 70px;
                  height: 70px;
                  background-color: var(--primary_color);
                  img {
                    transition: var(--ts);
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                  }
                  &.active {
                    img {
                      transform: scale(0.9);
                    }
                  }
                }
              }
              .showcase {
                width: 100%;
                height: 100%;
                .image {
                  aspect-ratio: 4/5;
                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 15px;
                  }
                }
              }
            }
            &.mob {
              display: none;
              @include media('<=tablet') {
                display: block;
              }
              .swiper {
                .swiper-wrapper {
                  .swiper-slide {
                    img {
                      width: 100%;
                      height: 100%;
                      border-radius: var(--br);
                    }
                  }
                }
              }
            }
          }

          &.about {
            &.desk {
              @include media('<=tablet') {
                display: none;
              }
            }
            &.mob {
              display: none;
              @include media('<=tablet') {
                display: block;
              }
            }
          }

          &.infors {
            position: sticky;
            @include media('<=tablet') {
              position: initial;
            }
            top: 4rem;
            header {
              padding-bottom: 1rem;
              margin-bottom: 1rem;
              border-bottom: 1px solid var(--text_color);
              h1 {
                font-weight: 600;
                margin: 0;
              }
              p,
              span,
              h1 {
                color: var(--text_color);
              }
            }

            .sizes {
              margin-bottom: 1.5rem;
              .table {
                margin-bottom: 0.5rem;
              }
              p {
                margin-bottom: 0.2rem;
              }
              .sizes-list {
                display: flex;
                gap: 0.5rem;
                .size {
                  min-width: 38px;
                }
              }
            }

            .customs {
              margin-bottom: 1.5rem;
              .choice {
                display: flex;
                gap: 0.5rem;
                margin-bottom: 0.5rem;
              }

              form {
                padding: 1rem;
                .card-input {
                  label {
                    small {
                      &.error {
                        color: var(--red_color);
                      }
                    }
                  }
                }
              }
            }

            .price {
              margin-bottom: 2rem;
              display: flex;
              gap: 0.5rem;
              .title {
                flex: none;
                width: 20%;
              }
              .content {
                width: 100%;
                .old {
                  color: var(--text_color);
                  text-transform: uppercase;
                  margin: 0;
                  span {
                    text-decoration: line-through;
                  }
                }
                .current {
                  display: flex;
                  align-items: center;
                  gap: 0.5rem;
                  margin: 0;
                  .price-d {
                    font-weight: 700;
                    line-height: 1;
                    color: var(--primary_color);
                  }
                  .discount {
                    padding: 0.1rem 0.3rem;
                    border-radius: 30px;
                    background-color: var(--green_color);
                    color: var(--white);
                  }
                }

                .tags {
                  margin-top: 1rem;
                  .tag {
                    width: 220px;
                    margin-top: 0.2rem;
                    padding: 0.1rem 0.3rem;
                    border-radius: 30px;
                    text-align: center;
                    border: 1px solid transparent;
                    i {
                      margin-right: 0.5rem;
                    }
                    &.pix {
                      border-color: var(--primary_color);
                      color: var(--primary_color);
                    }
                    &.free-shipping {
                      background-color: var(--green_color);
                      border-color: var(--green_color);
                      color: var(--white);
                    }
                  }
                }
              }
            }

            .delivery {
              display: flex;
              align-items: center;
              gap: 1rem;
              padding: 1rem;
              .title {
                flex: none;
                margin: 0;
                color: var(--text_color);
              }

              .content {
                width: 100%;
                p {
                  margin: 0;
                  color: var(--text_color);
                }
              }
            }

            .action {
              margin-top: 1rem;
              button {
                text-align: center;
                width: 100%;
                padding: 0.5rem;
                background-color: var(--green_color);
                border-color: var(--green_color);
                &.error {
                  background-color: var(--red_color);
                  border-color: var(--red_color);
                }
                text-transform: uppercase;
                position: relative;
                overflow: hidden;
                height: 60px;
                .cart,
                .check,
                .default {
                  opacity: 0;
                  top: 50%;
                  transition: var(--ts);
                  position: absolute;
                  &.active {
                    opacity: 1;
                  }
                }
                .default,
                .check,
                .cart {
                  top: 50%;
                  left: 50%;
                  transform: translateY(-50%) translateX(-50%);
                }
                .cart,
                .check {
                  font-size: 1.2rem;
                }
                .cart {
                  top: 50%;
                  left: 50%;
                  transform: translateY(-50%) translateX(-50%) scale(0);
                  transition: transform 0.3s ease-in-out, left 0.3s ease-in-out;
                  transition-duration: 1s;
                  &:not(.loaded) {
                    animation: loading 0.3s infinite alternate;
                  }
                  &.loaded {
                    transform: translateY(-50%) translateX(-50%) scale(1)
                      rotate(0deg) skew(10deg);
                    left: 105%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes loading {
  0% {
    transform: translateY(-50%) translateX(-60%) scale(1) rotate(10deg)
      skew(10deg);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) scale(1) rotate(0deg)
      skew(0deg);
  }
}
