<main *ngIf="!loading" id="detail-product">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card images desk">
          <div class="all-images">
            <button mat-icon-button class="image" *ngFor="let image of product.images; let iImg = index;"
              (click)="handleSelectImage(iImg)" [ngClass]="{active: activedImageId === iImg}">
              <img src="{{image.url}}" alt="{{product.name}}">
            </button>
          </div>

          <div class="showcase">
            <div class="image">
              <img src="{{product.images[activedImageId].url}}" alt="{{product.name}}">
            </div>
          </div>
        </div>

        <div class="card images mob">
          <!-- <swiper [slidesPerView]="1" [spaceBetween]="20" [pagination]="true">
            <ng-template swiperSlide *ngFor="let image of product.images">
              <img [src]="image.url" alt="">
            </ng-template>
          </swiper> -->
        </div>

        <div class="card about desk">
          <app-about-product></app-about-product>
        </div>
      </div>
      <div class="col">
        <div class="card infors">
          <header>
            <p class="status">
              Novo <span *ngIf="product.sold">| product.sold Vendidos</span>
            </p>
            <h1>{{product.name}}</h1>
            <div *ngIf="product.avaliations.length" class="avaliations">
              {{ product.avaliations.length }} Avaliações
            </div>
          </header>

          <div class="sizes">
            <button mat-button class="secondary s table"><i icon="ruler"></i> Tabela de medidas</button>
            <p>Tamanho: {{cartItem.product_variant.name}}</p>
            <div class="sizes-list">
              <button mat-button class="size s" *ngFor="let size of product.variants;"
                [ngClass]="cartItem.product_variant_id === size.id ? 'primary' : 'alt'"
                (click)="handleSelectSize(size)">
                {{size.name}}
              </button>
            </div>
          </div>

          <div class="customs">
            <p>
              Personalizar
              <strong>
                ({{customization_fee ? (customization_fee | currency) : 'Grátis'}})
              </strong>
            </p>

            <div class="choice">
              <button mat-button class="s" [ngClass]="!cartItem.customization ? 'primary' : 'alt'"
                (click)="setCustoms(false)">
                Não Personalizar
              </button>
              <button mat-button class="s" [ngClass]="cartItem.customization ? 'primary' : 'alt'"
                (click)="setCustoms(true)">
                Personalizar
              </button>
            </div>

            <form *ngIf="cartItem.customization" (ngSubmit)="handleCustomFormSubmit()" [formGroup]="customsForm">
              <div class="card-input">
                <label for="name">
                  <i icon="user"></i> Nome:
                  <small [ngClass]="{error: (customsForm.value.name?.length || 0) > 15}">
                    {{15 - (customsForm.value.name?.length || 0)}} restantes
                  </small>
                </label>
                <input type="text" id="name" class="alt" formControlName="name" placeholder="Nome">
              </div>

              <div class="card-input">
                <label for="number"><i icon="ball"></i> Número:</label>
                <input type="number" id="number" class="alt" formControlName="number" placeholder="Número">
              </div>
            </form>
          </div>

          <div class="price">
            <p class="title">
              Preço:
            </p>

            <div class="content">
              <p class="old" *ngIf="discount">
                De: <span>{{product.base_price | currency}}</span>
              </p>
              <p class="current">
                <span class="price-d f-36">{{discount | currency}}</span>
                <span class="discount f-12">
                  {{product.discount}}%
                </span>
              </p>
              <div class="tags">
                <div *ngIf="!free_shipping" class="tag free-shipping">
                  <span class="f-12"><i class="f-12" icon="truck"></i><b>Frete</b> grátis acima de <b>{{delivery_fee |
                      currency}}</b></span>
                </div>
                <div *ngIf="free_shipping" class="tag free-shipping">
                  <span class="f-12"><i class="f-12" icon="truck"></i><b>Frete</b> grátis</span>
                </div>
                <div class="tag pix">
                  <span class="f-12"><i class="f-12" icon="pix"></i>Até <b>5% OFF</b> no <b>PIX</b></span>
                </div>
              </div>
            </div>
          </div>

          <div class="delivery">
            <p class="title">
              <i class="f-28" icon="truck"></i>
            </p>

            <div class="content">
              <p class="date">
                <i icon="calendar"></i> 5 dias úteis
              </p>
              <p class="address">
                <i icon="map_marker"></i> Teresópolis - RJ
              </p>
            </div>
          </div>

          <div class="action">
            <button mat-button class="primary" (click)="addToCart()">
              <span [ngClass]="{active: addToCartStatus === 'idle'}" class="default">
                Comprar agora
              </span>
              <span [ngClass]="{active: addToCartStatus.includes('load'), loaded: addToCartStatus === 'loaded'}"
                class="cart">
                <i icon="cart"></i>
              </span>
              <span [ngClass]="{active: addToCartStatus === 'success'}" class="check">
                <i icon="check"></i>
              </span>
            </button>
          </div>
        </div>

        <div class="card about mob">
          <app-about-product></app-about-product>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</main>


<page-loading *ngIf="loading"></page-loading>