<main id="text-page">
  <div class="content">
    <div class="section">
      <h1>Instruções de Lavagem</h1>
    </div>

    <div class="section">
      <p>
        As camisas de futebol são bem delicadas e não podem ser lavadas e secadas de qualquer maneira. Geralmente, as
        pessoas têm o costume de lavá-las em máquinas de lavar e usar amaciante, mas isso é um erro grave, pois danifica
        a camisa, fazendo com que perca a cor rapidamente. Muitos fabricantes de camisas, como a Nike, a Adidas, a Puma,
        a Reebok e outras, não fazem a troca do produto quando a pessoa não cumpre as normas de lavagem, pois não veem
        defeitos nesses casos. Para quem quer cuidar bem da camisa do seu time do coração, deve seguir as seguintes
        regras:
      </p>

      <ul>
        <li>Lave a camisa com água normal dentro de um balde, usando sempre sabão neutro ou sabão de coco. Aplique o
          sabão nas áreas sujas várias vezes. Nunca esfregue no tanque, pois você poderá danificar a camisa.</li>

        <li>Após lavar, retire a água suja e coloque a camisa em outro balde com água limpa até que saia o sabão. Caso o
          sabão não saia, repita o procedimento várias vezes.</li>

        <li>Depois de retirar o sabão, esvazie a água suja e coloque a camisa novamente no balde sem água e deixe a
          água sair naturalmente, sem precisar torcer.</li>

        <li>Após deixar a água sair da camisa naturalmente, pendure-a em um cabide e coloque-a para secar em um varal.
        </li>
      </ul>

      <p>
        O que você não deve fazer:
      </p>

      <ul>
        <li>Nunca coloque na máquina de lavar.</li>
        <li>Nunca use amaciante ou outros produtos.</li>
        <li>Nunca esfregue no tanque.</li>
        <li>Nunca torça para retirar a água.</li>
      </ul>

      <p>
        Siga estas regras e você terá sua camisa em bom estado por vários anos.
      </p>

      <p>Equipe CloudStore.</p>

      <br>

      <p>Data de vigência: 16/07/2023.</p>

      <p>Este documento foi atualizado pela última vez em 16/07/2023.</p>
    </div>
  </div>
</main>

<app-footer></app-footer>