<section class="checkout-page" id="shipping-methods">
  <div class="container">
    <header>
      <h2><span [ngClass]="{ completed: selectedShippingMethod.value }" class="f-18">3</span> Formas de envio</h2>
    </header>

    <div class="content">
      <div *ngIf="!order.address_id" class="not-found">
        <p class="title">Você ainda não escolheu o endereço de entrega.</p>
      </div>
      <div *ngIf="loading" class="loading">
        <loading class="f-22"></loading>
      </div>
      <div *ngIf="error" class="error">
        <p class="title">
          Não foi possível calcular para esse endereço.
          Verifique seu CEP clique no botão abaixo.
        </p>
        <button mat-button (click)="reload()" class="secondary">Tentar novamente</button>
      </div>

      <mat-radio-group *ngIf="!loading && !error && order.address_id" aria-label="Escolha o método de envio"
        class="primary" [formControl]="selectedShippingMethod">
        <mat-radio-button value="sedex">
          <span class="type f-16 one-line">SEDEX - CORREIOS</span>
          <span class="deadline one-line" *ngIf="correios.sedex.deadline === '1'">
            Em {{correios.sedex.deadline}} dia útil.
          </span>
          <span class="deadline one-line" *ngIf="correios.sedex.deadline !== '1'">
            Em {{correios.sedex.deadline}} dias úteis.
          </span>
          <span class="price f-18">{{correios.sedex.price | currency}}</span>
        </mat-radio-button>

        <mat-radio-button value="pac">
          <span class="type f-16 one-line">PAC - CORREIOS</span>
          <span class="deadline one-line" *ngIf="correios.pac.deadline === '1'">
            Em {{correios.pac.deadline}} dia útil.
          </span>
          <span class="deadline one-line" *ngIf="correios.pac.deadline !== '1'">
            Em {{correios.pac.deadline}} dias úteis.
          </span>
          <span class="price f-18" *ngIf="delivery_fee > price">{{correios.pac.price | currency}}</span>
          <span class="price f-18" *ngIf="delivery_fee <= price">Grátis</span>
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</section>