#shipping-methods {
  .container {
    .content {
      .not-found,
      .error {
        text-align: center;
      }
      .loading {
        display: flex;
        justify-content: center;
      }
      .mat-radio-group {
        .mat-radio-button {
          ::ng-deep {
            .mat-radio-label-content {
              & > span {
                padding-right: 42px;
                &.type {
                  font-weight: 600;
                }
              }
              .price {
                position: absolute;
                right: 0.8rem;
                top: 50%;
                transform: translateY(-50%);
                color: var(--green_color);
                padding-right: 0;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }
}
