<section class="checkout-page" id="shipping-methods">
  <div class="container">
    <header>
      <h2><span [ngClass]="{ completed: selectedShippingMethod.value }" class="f-18">3</span> Formas de envio</h2>
    </header>

    <div class="content">
      <div *ngIf="!order.address_id" class="not-found">
        <p class="title">Você ainda não escolheu o endereço de entrega.</p>
      </div>
      <mat-radio-group *ngIf="order.address_id" aria-label="Escolha o endereço" class="primary"
        [formControl]="selectedShippingMethod">
        <!-- <mat-radio-button [disableRipple]="true" *ngFor="let addr of []" [value]="addr.id"> -->
        <mat-radio-button [disableRipple]="true" *ngFor="let addr of []" [value]="addr">
          <!-- <span class="street-num f-16 one-line">{{addr.street}}, {{addr.number}}</span> -->
          <!-- <span class="neighborhood-city-state one-line">{{addr.neighborhood}} - {{addr.city}} / {{addr.state}}</span> -->
          <!-- <span class="zip-code one-line">{{addr.zip_code | mask: '00000-000'}}</span> -->
          <!-- <span class="complement one-line">{{addr.complement}}</span> -->
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</section>