<section class="account-page" id="account-password">
  <div class="container">
    <header>
      <h1>Alterar senha</h1>
    </header>

    <div class="content">
      <form [formGroup]="form" (ngSubmit)="handleFormSubmit()">
        <div class="card-input">
          <label for="current-password">Senha atual</label>
          <span class="input-icon">
            <input class="alt" [type]="view_pass_c ? 'text' : 'password'" id="current-password" name="current-password"
              placeholder="Digite sua senha" formControlName="current_password">
            <button class="view-pass" type="button" mat-icon-button aria-label="Ver senha"
              (click)="view_pass_c = !view_pass_c">
              <i icon="view_pass" *ngIf="!view_pass_c"></i>
              <i icon="hide_pass" *ngIf="view_pass_c"></i>
            </button>
          </span>
          <span class="forgot-password">
            <a class="f-12" routerLink="/forgot-password">Esqueceu sua senha?</a>
          </span>
        </div>

        <div class="card-input">
          <label for="new-password">Nova senha</label>
          <span class="input-icon">
            <input class="alt" [type]="view_pass_n ? 'text' : 'password'" id="new-password" name="new-password"
              placeholder="Digite a sua nova senha" formControlName="new_password">
            <button class="view-pass" type="button" mat-icon-button aria-label="Ver senha"
              (click)="view_pass_n = !view_pass_n">
              <i icon="view_pass" *ngIf="!view_pass_n"></i>
              <i icon="hide_pass" *ngIf="view_pass_n"></i>
            </button>
            <span class="password-strong c{{score}}" [ngClass]="{show: form.value.new_password}"
              [ngStyle]="{'--strong': (score + 1) * 20 + '%'}">
            </span>
          </span>
        </div>

        <div class="card-input">
          <label for="repeat-password">Confirmação</label>
          <span class="input-icon">
            <input class="alt" [type]="view_pass_r ? 'text' : 'password'" id="repeat-password" name="repeat-password"
              placeholder="Repita sua nova senha" formControlName="repeat_password">
            <button class="view-pass" type="button" mat-icon-button aria-label="Ver senha"
              (click)="view_pass_r = !view_pass_r">
              <i icon="view_pass" *ngIf="!view_pass_r"></i>
              <i icon="hide_pass" *ngIf="view_pass_r"></i>
            </button>
          </span>
        </div>

        <div class="actions">
          <button mat-button class="primary" type="submit" [disabled]="loading">
            Alterar senha
            <loading *ngIf="loading"></loading>
          </button>
        </div>
      </form>

      <div class="password-status" *ngIf="form.value.new_password">
        <h2>Segurança da sua nova senha</h2>
        <h3 class="status f-16">
          {{scores[score]}}
        </h3>

        <div class="warning" *ngIf="password_warning">
          <h3>Alerta</h3>
          <span>
            {{password_warning}}
          </span>
        </div>

        <div class="suggestions" *ngIf="password_suggestions.length">
          <h3>Sugestões</h3>
          <ul>
            <li *ngFor="let suggestion of password_suggestions">
              {{suggestion}}
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>