@import 'src/styles/typography';
@import 'src/styles/media';
@import 'swiper/css';
@import 'swiper/css/pagination';

$rm_button_labels: '<=710px';

.tape {
  background-color: var(--primary_color);
  display: flex;
  gap: 5px;
  padding: 8px;
  align-items: center;
  justify-content: center;
  color: var(--primary_bg);
  box-shadow: var(--bs);
  position: relative;
  .swiper {
    p {
      font-size: 0.8rem !important;
      margin: 0;
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
      // @extend .f-ibm;
      b {
        font-weight: 600;
      }
      i {
        font-size: 1rem;
      }
    }
  }
}

nav {
  width: 100%;
  padding: var(--navbar_top_padding);
  background-color: var(--navbar_top_bg);
  position: sticky;
  top: 0;
  .content {
    max-width: var(--navbar_max_width);
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      gap: 5px;
      img {
        width: var(--navbar_logo_width);
        @include media('<=tablet') {
          width: var(--navbar_logo_width_tablet);
        }
      }
      span {
        color: var(--navbar_top_color);
        // @extend .f-ibm;
        line-height: 1.2;
        font-weight: 600;
      }
    }

    .search {
      width: 50%;
      max-width: 815px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      flex-direction: row;
      box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.25);
      border-radius: 50px;
      @include media('<=navbar-collapse') {
        position: fixed;
        top: 56px;
        left: 50%;
        transform: translateX(-50%);
        width: 10%;
        opacity: 0;
        z-index: -1;
        transition: var(--ts);
        &.active {
          opacity: 1;
          z-index: 3;
          width: 80%;
          top: 180px;
        }
      }
      input {
        border-radius: 50px 0 0 50px;
        width: 100%;
        // @extend .f-ibm;
      }
      button {
        width: 80px;
        height: 45px;
        background-color: var(--primary_color);
        border-radius: 0 50px 50px 0;
        i {
          font-size: 1.2rem;
          color: var(--primary_bg);
        }
      }
    }

    .menu {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      a,
      button {
        background-color: transparent;
        position: relative;
        box-shadow: none;
        .mat-button-wrapper {
          display: flex;
          justify-content: center;
          .flex {
            display: flex;
            flex-direction: column;
            line-height: 1.1;
            justify-content: center;
            text-align: start;
            @include media($rm_button_labels) {
              display: none;
            }
          }
        }
        i {
          color: var(--navbar_top_color);
          font-size: 1.2rem;
          margin-right: 0.6rem;
          @include media($rm_button_labels) {
            margin-right: 0rem;
          }
        }
        small {
          color: var(--primary_color);
          font-size: 0.5rem;
          // @extend f-ibm;
        }
        .dot {
          position: absolute;
          top: -3px;
          left: 35px;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background-color: var(--primary_color);
          color: var(--primary_bg);
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0.6rem !important;
          font-weight: 500;
          // @extend .f-inter;
        }

        &.mat-button {
          &:not(:last-child) {
            &::before {
              content: '';
              position: absolute;
              top: 50%;
              right: -0.25rem;
              transform: translateY(-50%);
              width: 1px;
              height: 40px;
              background-color: var(--border_color);
            }
          }
        }
        &.mat-icon-button {
          i {
            margin-right: 0;
          }
        }
      }
      .search_button {
        display: none;
        @include media('<=navbar-collapse') {
          display: block;
        }
      }
    }
  }
}

.pages {
  background-color: var(--primary_color);
  box-shadow: var(--bs);
  position: relative;
  .swiper {
    max-width: 1150px;
    margin: 0 auto;
    .swiper-wrapper {
      .swiper-slide {
        width: fit-content;
      }
    }
    .swiper-button-next,
    .swiper-button-prev {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 40px;
      opacity: 0.6;
      transition: var(--ts);
      &.swiper-button-next {
        right: 0;
        background: linear-gradient(90deg, transparent, var(--primary_bg));
      }
      &.swiper-button-prev {
        left: 0;
        background: linear-gradient(90deg, var(--primary_bg), transparent);
      }
      &.swiper-button-disabled {
        opacity: 0;
      }
    }
  }
  a {
    color: var(--primary_bg);
    border-radius: var(--br);
    font-size: 0.8rem;
    font-weight: 500;
    display: block;
    text-decoration: none;
    padding: 0 30px;
    // @extend .f-inter;
  }
}
