<div class="tape">
  <swiper [slidesPerView]="1" [navigation]="true" [autoplay]="autoplayConfig">
    <ng-template swiperSlide *ngFor="let tape of tape_texts">
      <p>
        <i icon="{{tape.icon}}"></i>
        <span [innerHTML]="tape.name"></span>
      </p>
    </ng-template>
  </swiper>
</div>

<nav>
  <div class="content">
    <a class="logo" routerLink="/">
      <img src="assets/images/logo.png" alt="logo">
    </a>

    <div class="search card-input">
      <input type="text" placeholder="Qual manto procura?">
      <button aria-label="Buscar" mat-icon-button>
        <i icon="search"></i>
      </button>
    </div>

    <div class="menu">
      <button aria-label="Login/Cadastro" mat-button>
        <i icon="user"></i>
        <span class="flex">
          <small>Entrar/Cadastrar</small>
          Minha conta
        </span>
      </button>

      <button aria-label="Rastreio" mat-button routerLink="/tracking">
        <i icon="truck"></i>
        <span class="flex">
          <small>Onde está meu pedido?</small>
          Rastrear pedido
        </span>
      </button>

      <button aria-label="Carrinho" mat-button>
        <i icon="cart"></i>
        <span class="flex">Carrinho</span>
        <span class="dot">{{cartLength}}</span>
      </button>
    </div>
  </div>
</nav>
<div class="pages">
  <swiper [slidesPerView]="'auto'" [navigation]="true" [freeMode]="true">
    <ng-template swiperSlide *ngFor="let page of page_links">
      <a mat-button [routerLink]="page.link">{{page.text}}</a>
    </ng-template>
  </swiper>
</div>

<router-outlet *ngIf="!loading"></router-outlet>
<page-loading *ngIf="loading"></page-loading>