<div class="product-card">
  <div *ngIf="discount" class="discount">
    <span class="f-12">{{ product.discount }}%</span>
  </div>

  <div class="image">
    <img *ngIf="product.images[0]" [src]="product.images[0].url" [alt]="product.name">
    <img *ngIf="product.images[1]" [src]="product.images[1].url" [alt]="product.name">
  </div>

  <div class="details">
    <span class="name f-17">{{ product.name }}</span>
    <div class="prices">
      <span class="new f-22 f-inter">{{ discount | currency }}</span>
      <span *ngIf="discount" class="old f-12 f-inter">{{ product.base_price | currency }}</span>
    </div>
    <span class="parcels f-13">
      em até <b>12X</b> de <span class="f-13">{{ discount / 12 | currency }}</span>
    </span>
  </div>

  <div class="shipping">
    <span class="f-11">Frete grátis</span>
  </div>
</div>