.product-card {
  position: relative;
  padding: 20px;
  border-radius: var(--br);
  border-radius: 30px;
  background-color: var(--white);
  height: 100%;
  transition: var(--ts);
  aspect-ratio: 28/43;
  max-width: 280px;
  margin: 0 auto;
  &:hover {
    .image,
    .image img {
      transform: scale(1.02);
    }
  }

  .discount {
    transition: var(--ts);
    position: absolute;
    top: 8px;
    left: 30px;
    padding: 2px 8px;
    border-radius: 30px;
    background-color: var(--green_color);
    color: var(--white);
    font-weight: 600;
    z-index: 1;
  }

  .image {
    aspect-ratio: 1/1;
    width: 100%;
    position: relative;
    transition: var(--ts);
    img {
      width: 100%;
      aspect-ratio: 1/1;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
      position: absolute;
      transition: var(--ts);
      &:nth-child(2) {
        opacity: 0;
      }
      &:hover {
        opacity: 0;
        &:nth-child(2) {
          opacity: 1;
        }
      }
    }
  }

  .details {
    margin-top: 10px;
    .name {
      color: var(--text_color);
    }
    .prices {
      margin-top: 10px;
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      gap: 8px;
      .new {
        color: var(--primary_color);
        font-weight: 800;
        line-height: 1;
      }
      .old {
        color: var(--border_color);
        text-decoration: line-through;
        font-weight: 800;
      }
    }
    .parcels {
      color: var(--text_color);
      span {
        color: var(--green_color);
        font-weight: 700;
      }
    }
  }

  .shipping {
    margin-top: 10px;
    background-color: var(--green_color);
    padding: 2px 8px;
    border-radius: 30px;
    width: fit-content;
    span {
      color: var(--white);
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}
