#account-orders {
  .container {
    .content {
      .orders {
        .order {
          position: relative;
          a {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}
