<main id="text-page">
  <div class="content">
    <div class="section">
      <h1>Política de Privacidade</h1>
    </div>
    <div class="section">
      <p>
        Este documento descreve como a nossa plataforma de e-commerce ("Empresa", "nós" ou "nosso")
        coleta, usa e protege as informações pessoais dos usuários ("você" ou "seu") que acessam nosso site e utilizam
        nossos serviços. Valorizamos sua privacidade e estamos comprometidos em proteger seus dados pessoais.
        Recomendamos que você leia atentamente esta Política de Privacidade para entender como suas informações serão
        tratadas.
      </p>

      <ol>
        <li>Informações coletadas
          <ol>
            <li>
              Informações fornecidas por você: Coletamos as informações que você nos fornece quando cria uma conta, faz
              uma compra ou se comunica conosco. Essas informações podem incluir seu nome, endereço de e-mail, endereço
              de
              entrega, informações de pagamento e outras informações relevantes para o processamento de pedidos e
              fornecimento
              de suporte ao cliente.
            </li>
          </ol>
        </li>

        <li>Uso das informações
          <ol>
            <li>
              Utilização interna: Utilizamos as informações coletadas para processar pedidos, fornecer suporte ao
              cliente,
              melhorar nossos serviços, personalizar sua experiência de compra, enviar comunicações relacionadas aos
              pedidos e
              enviar atualizações sobre nossos produtos e ofertas promocionais.
            </li>

            <li>
              Compartilhamento de informações: Podemos compartilhar suas informações pessoais com terceiros apenas
              quando
              necessário para fornecer os serviços solicitados por você, como processamento de pagamento, envio de
              produtos e
              serviços de suporte ao cliente. Além disso, podemos divulgar suas informações pessoais se exigido por lei
              ou se
              acreditarmos de boa-fé que a divulgação é necessária para proteger nossos direitos, segurança ou
              propriedade, ou
              para investigar fraudes.
            </li>

            <li>
              Marketing: Podemos enviar a você informações de marketing sobre nossos produtos e ofertas promocionais. Se
              preferir não receber essas comunicações, você pode optar por sair a qualquer momento, seguindo as
              instruções de
              cancelamento de assinatura fornecidas em nossos e-mails.
            </li>
          </ol>
        </li>

        <li>Segurança das informações
          <ol>
            <li>
              Implementamos medidas de segurança adequadas para proteger suas informações pessoais contra acesso não
              autorizado, alteração, divulgação ou destruição. No entanto, nenhum método de transmissão pela Internet ou
              método de armazenamento eletrônico é 100% seguro, e não podemos garantir a segurança absoluta das
              informações
              fornecidas por você.
            </li>
          </ol>
        </li>

        <li>Retenção de informações
          <ol>
            <li>
              Manteremos suas informações pessoais pelo tempo necessário para cumprir as finalidades descritas nesta
              Política
              de Privacidade, a menos que uma retenção mais longa seja exigida ou permitida por lei.
            </li>
          </ol>
        </li>

        <li>Seus direitos
          <ol>
            <li>
              Você tem o direito de acessar, corrigir ou excluir suas informações pessoais que temos em nosso poder. Se
              desejar exercer esses direitos, entre em contato conosco usando os detalhes fornecidos na seção de contato
              abaixo. Faremos esforços razoáveis para responder às suas solicitações o mais breve possível.
            </li>
          </ol>
        </li>

        <li>Alterações nesta política
          <ol>
            <li>
              Podemos atualizar esta Política de Privacidade periodicamente para refletir mudanças em nossas práticas de
              privacidade. Recomendamos que você revise esta política regularmente para se manter informado sobre como
              suas
              informações são tratadas.
            </li>
          </ol>
        </li>

        <li>Contato
          <ol>
            <li>
              Se você tiver alguma dúvida, preocupação ou solicitação relacionada a esta Política de Privacidade, entre
              em
              contato conosco por meio das informações abaixo:
              <ul>
                <li>
                  Nome da Empresa: [Nome da Empresa]
                </li>
                <li>
                  Endereço: [Endereço da Empresa]
                </li>
                <li>
                  E-mail: [E-mail de Contato]
                </li>
                <li>
                  Telefone: [Número de Telefone]
                </li>
              </ul>
            </li>
          </ol>
        </li>
      </ol>

      <p>Equipe CloudStore.</p>

      <br>

      <p>Data de vigência: 16/07/2023.</p>

      <p>Este documento foi atualizado pela última vez em 16/07/2023.</p>
    </div>
  </div>
</main>

<app-footer></app-footer>