<section id="about">
  <div class="container">
    <figure>
      <img src="https://via.placeholder.com/1080x1080" alt="CloudStore">
    </figure>
    <div class="content">
      <h1 class="f-40">Pouco de Nós</h1>
      <p class="f-18">
        Na <strong>CloudStore</strong>, sua paixão pelo futebol ganha vida através das camisas de times. Vista
        qualidade e estilo, nossa loja visa ao máximo <b>o compromisso</b>, <b>a qualidade</b> e <b>a agilidade</b> na
        entrega do seu manto! Venha descobrir nossa seleção exclusiva e encontre a camisa perfeita para expressar todo o
        seu amor pelo seu time do coroção.
      </p>
      <a routerLink="/about" mat-button class="primary">Saber mais sobre nós</a>
    </div>
  </div>
</section>