.mat-button-base {
  &.mat-button {
    &.primary {
      background-color: var(--primary_color);
      color: var(--white);
      border-radius: 4px;
      padding: 0.2rem 1rem;
    }

    &.mat-button-disabled,
    &:disabled {
      color: var(--primary-bg) !important;
      opacity: 0.5;
    }
  }
}
