.mat-button-base {
  &.mat-button {
    padding: 3px 1rem;
    transition: var(--ts);
    border-radius: var(--br);

    &.primary {
      background-color: var(--primary_color);
      background-image: linear-gradient(
        45deg,
        #1d93e8 0%,
        #1556b8 99%,
        #1556b8 100%
      );
      border: 1px solid var(--primary_color);
      color: var(--white);
    }

    &.secondary {
      background-color: var(--primary_bg);
      border: 1px solid var(--primary_color);
    }

    &.green {
      background-color: var(--green_color);
      border: 1px solid var(--green_color);
      color: var(--white);
    }

    &.black {
      background-color: var(--title_color);
      border: 1px solid var(--title_color);
      color: var(--white);
    }

    &.alt {
      background-color: transparent;
      border: 1px solid transparent;
    }

    &.danger {
      background-color: var(--red_color);
      background-image: linear-gradient(
        45deg,
        #eb6474 0%,
        #e72138 99%,
        #e72138 100%
      );
      border: 1px solid var(--red_color);
      color: var(--white);
    }

    &.s {
      padding: 0rem 0.5rem;
    }

    &.mat-button-disabled,
    &:disabled {
      opacity: 0.5;
    }
  }
}
