.mat-button-base {
  &.mat-button {
    padding: 3px 1rem;
    transition: var(--ts);
    border-radius: var(--br);

    &.primary {
      background-color: var(--primary_color);
      border: 1px solid var(--primary_color);
      color: var(--white);
    }

    &.secondary {
      background-color: var(--primary_bg);
      border: 1px solid var(--primary_color);
    }

    &.green {
      background-color: var(--green_color);
      border: 1px solid var(--green_color);
      color: var(--white);
    }

    &.alt {
      background-color: transparent;
      border: 1px solid transparent;
    }

    &.s {
      padding: 0rem 0.5rem;
    }

    &.mat-button-disabled,
    &:disabled {
      color: var(--primary-bg) !important;
      opacity: 0.5;
    }
  }
}
