.mat-checkbox-frame {
  border-color: var(--title_color) !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: var(--primary_color) !important;
}

.mat-tab-group.mat-primary .mat-ink-bar {
  background-color: var(--primary_color) !important;
  height: 5px;
  border-radius: 5px;
}
