@import './animations';
@import './media';

.card-input {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;

  label {
    font-size: 1rem;
  }

  .input-icon {
    position: relative;
    width: 100%;
    input {
      width: 100%;
      padding-right: 2rem;
    }
    button,
    mat-datepicker-toggle {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0px;
      color: var(--main-color);
      cursor: pointer;
    }
  }

  input,
  textarea,
  .mat-select {
    padding: 13px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    border: 1px solid transparent;
    background-color: var(--white);
    color: var(--title_color) !important;
    resize: none;

    &.mat-select {
      padding: 12px 20px;
    }
    &.alt {
      background-color: var(--secondary_bg);
    }

    &[type='number'] {
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      appearance: textfield;
    }
    &[type='number']::-webkit-inner-spin-button,
    &[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
    &.ng-touched.ng-invalid {
      border-color: var(--red_color);
      @include shake;
    }
    &[type='file'] {
      display: none;
    }
  }

  & + .card-input {
    margin-top: 1rem;
  }

  &.alt {
    input,
    textarea,
    .mat-select {
      background-color: var(--secondary_bg);
    }
  }
}

.mat-form-field-infix {
  display: flex;
}

form {
  .inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 1rem 0;

    @include media('<=phone') {
      grid-template-columns: 1fr;
    }

    .card-input {
      & + .card-input {
        margin-top: 0;
      }
    }
  }
}
