@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

$base-font-size: 19;
$min-font-size: 10;
$max-font-size: 52;

@for $i from $min-font-size through $max-font-size {
  $class-name: '.fd-#{$i}';

  #{$class-name} {
    font-size: calc($i / $base-font-size * 1rem);
  }
}

.mat-typography {
  h1 {
    @extend .fd-24;
  }
  h2 {
    @extend .fd-18;
  }
  h3 {
    @extend .fd-16;
  }
  h4 {
    @extend .fd-14;
  }
  h5 {
    @extend .fd-12;
  }
  h6 {
    @extend .fd-10;
  }
  p {
    @extend .fd-14;
  }
  a {
    @extend .fd-14;
  }
  button {
    @extend .fd-14;
  }
  span {
    @extend .fd-14;
  }
  label {
    @extend .fd-14;
  }
  input {
    @extend .fd-14;
  }
  .mat-button {
    @extend .fd-14;
  }
}

b {
  font-weight: 700;
}
strong {
  font-weight: 600;
  color: var(--primary_color);
}

@for $i from $min-font-size through $max-font-size {
  $class-name: '.f-#{$i}';

  #{$class-name} {
    font-size: calc($i / $base-font-size * 1rem) !important;
  }
}

.f-poppins {
  font-family: 'Poppins', sans-serif !important;
}

.f-inter {
  font-family: 'Inter', sans-serif !important;
}

.mat-typography {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  b,
  strong,
  button,
  span,
  label,
  input .mat-button {
    font-family: 'Poppins', sans-serif;
  }
}
