@import 'src/styles/media';

#pillars {
  .container {
    display: flex;
    gap: 3rem 3%;
    justify-content: space-between;
    flex-wrap: wrap;
    .article {
      width: 30%;
      max-width: 380px;
      min-width: 300px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 25px;
      align-items: center;
      @include media('<=654px') {
        width: 100%;
        max-width: 340px;
        min-width: auto;
      }
      i {
        font-size: 3.6rem;
        color: var(--primary_color);
      }
      h2 {
        color: var(--title_color);
        text-align: center;
        font-weight: 700;
        margin: 0;
      }
      p {
        margin: 0;
        color: var(--text_color);
        text-align: center;
      }
    }
  }
}
