<section id="pillars">
  <div class="container">
    <div class="article">
      <i icon="money"></i>
      <h2 class="f-26">Compra 100% segura</h2>
      <p>Transferências em ambientes criptografados.</p>
    </div>
    <div class="article">
      <i icon="truck"></i>
      <h2 class="f-26">Frete grátis</h2>
      <p>Entregas para todas as regiões do Brasil com código de rastreio.</p>
    </div>
    <div class="article">
      <i icon="card"></i>
      <h2 class="f-26">Pagamentos parcelados</h2>
      <p>Pague suas compras em até 12x no cartão.</p>
    </div>
  </div>
</section>