@import 'src/styles/media';

#articles {
  .container {
    display: flex;
    gap: 1rem 3%;
    justify-content: space-between;
    flex-wrap: wrap;
    .article {
      width: 30%;
      max-width: 380px;
      min-width: 300px;
      aspect-ratio: 1/1;
      margin: 0 auto;

      @include media('<=375px') {
        min-width: 100%;
      }
      img {
        width: 100%;
        border-radius: var(--br);
        object-fit: cover;
      }
    }
  }
}
