@import 'src/styles/media';

$resp: '<=862px';

#products {
  .container {
    .row {
      display: grid;
      grid-template-columns: 250px 1fr;
      gap: 1rem;
      @include media($resp) {
        grid-template-columns: 1fr;
      }

      .col {
        &.filters {
          @include media($resp) {
            display: none;
          }
          .filter {
            padding: 1rem calc(1rem - 5px);
            border-radius: var(--br);
            box-shadow: var(--bs);
            background-color: var(--secondary_bg);

            .expansion {
              &:not(:last-child) {
                padding-bottom: 0.5rem;
                margin-bottom: 0.5rem;
                border-bottom: 1px solid var(--border_color);
              }
            }
            .mat-expansion-panel {
              box-shadow: none;
              background-color: #fff0;
              .mat-expansion-panel-header {
                height: 28px;
                padding: 0 5px;
                .mat-expansion-panel-header-title {
                  font-weight: 600;
                  font-size: 1rem;
                  line-height: 1.2rem;
                }
              }

              .options {
                display: flex;
                flex-direction: column;
                padding-top: 16px;
              }
            }
          }
        }

        &.list {
          .products-list {
            padding: 1rem;
            border-radius: var(--br);
            box-shadow: var(--bs);
            background-color: var(--secondary_bg);
            @include media($resp) {
              padding: 0;
              box-shadow: none;
              background-color: none;
              background-color: transparent;
            }

            header {
              margin-bottom: 0.5rem;
              padding-bottom: 0.5rem;
              border-bottom: 1px solid var(--border_color);
              @include media($resp) {
                display: none;
              }
              h2 {
                font-weight: 600;
                margin: 0;
              }
            }

            .resume {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 0.5rem;
              padding-bottom: 0.5rem;
              gap: 1rem;
              border-bottom: 1px solid var(--border_color);
              .quantity {
                margin: 0;
              }
              @include media($resp) {
                border: none;
                .quantity {
                  display: none;
                }
              }
              .card-input {
                max-width: 300px;
                align-items: center;
                flex-direction: row;
                width: 40%;
                gap: 1rem;
                justify-content: flex-end;
                @include media($resp) {
                  width: 50%;
                }
                label {
                  flex: none;
                  @include media($resp) {
                    display: none;
                  }
                }
                .mat-select {
                  background-color: var(--primary_color);
                  color: var(--white);
                  @include media($resp) {
                    width: 100%;
                    ::ng-deep .mat-select-value {
                      text-align: center;
                      margin-right: -18px;
                    }
                  }
                  .mat-select-min-line {
                    color: var(--white) !important;
                  }
                }

                &.mob {
                  display: none;
                  @include media($resp) {
                    display: block;
                  }
                  button {
                    border-radius: 4px;
                    width: 100%;
                  }
                }

                & + .card-input {
                  margin: 0;
                }
              }
            }

            .products {
              .cards {
                display: grid;
                gap: 1rem;
                grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
                @include media($resp) {
                  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
                }
              }

              .the-end {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 2rem;
                gap: 1rem;
                font-size: 1rem;
                color: var(--title_color);
                i {
                  margin: 0;
                  font-size: 1.2rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

:host ::ng-deep {
  .mat-expansion-panel {
    .mat-expansion-panel-body {
      padding: 0 5px;
    }
  }
  .resume {
    .mat-select-min-line {
      color: var(--white) !important;
      font-weight: 500;
    }
    .mat-select-arrow {
      color: var(--white) !important;
    }
  }
}
