@import 'src/styles/media';

form {
  padding: 1rem;
  width: 100%;
  max-width: 350px;

  h1 {
    text-align: center;
  }

  .forgot-password {
    display: inline-block;
    text-align: end;
    a {
      text-decoration: none;
      color: var(--title_color);
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
