<main id="cart" *ngIf="!loading">
  <div class="container" *ngIf="cart.length">
    <div class="row">
      <div class="col cart">
        <header>
          <h2 class="f-24">Meu carrinho</h2>
          <mat-checkbox class="alt" [formControl]="selectAll">
            Selecionar tudo
          </mat-checkbox>
        </header>

        <div class="product-list">
          <div class="product" *ngFor="let item of cart; let i = index">
            <mat-checkbox [formControl]="selectedFormArray.controls[i]">
            </mat-checkbox>
            <app-product-list-item [product]="item.product_variant.product" [cartItem]="item"
              (deleted)="handleDeleteItem(item)" (edited)="calcItems()">
            </app-product-list-item>
          </div>
        </div>
      </div>

      <div class="col price-resume">
        <div class="free-shipping">
          <i icon="truck" class="f-16"></i>
          <span *ngIf="!freeShipping">
            Faltam <b>{{(deliveryFreePrice - discountValue) | currency}}</b> para você ganhar frete grátis
          </span>
          <span *ngIf="freeShipping">
            Parabéns, você ganhou frete grátis!
          </span>
        </div>

        <div class="resume">
          <div class="resume-item">
            <span class="f-16">Subtotal: </span>
            <span class="f-16" *ngIf="!loadingPrice">{{ totalValue | currency }}</span>
            <span class="f-16" *ngIf="loadingPrice">Calculando...</span>

          </div>

          <div class="resume-item">
            <span class="f-14">Desconto: </span>
            <span class="f-14" *ngIf="!loadingPrice">{{ (totalValue - discountValue) | currency }}</span>
            <span class="f-14" *ngIf="loadingPrice">Calculando...</span>
          </div>

          <div class="resume-item total">
            <span class="f-20">Total: </span>
            <span class="f-20" *ngIf="!loadingPrice">
              <strong *ngIf="discountValue">{{ discountValue | currency }}</strong>
              <strong *ngIf="!discountValue">{{ 0 | currency }}</strong>
            </span>
            <span class="f-20" *ngIf="loadingPrice">Calculando...</span>

          </div>

          <button mat-button class="primary" [ngClass]="{ creating }" (click)="handleCreateOrder()"
            [disabled]="onDisableCreateOrder()">
            <span class="idle">
              Continuar
            </span>
            <span class="loading f-28">
              <i icon="box_heart"></i>
              <i icon="shirt"></i>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="!cart.length">
    <div class="empty-cart">
      <i icon="cart_error" class="f-52"></i>
      <h2 class="f-24">Seu carrinho está vazio</h2>
      <p class="f-16">Adicione produtos clicando no botão abaixo</p>
      <button mat-button class="primary" routerLink="/products">Adicionar produtos</button>
    </div>
  </div>

  <app-footer></app-footer>
</main>

<main id="cart" *ngIf="loading">
  <div class="container">
    <page-loading></page-loading>
  </div>
</main>