<div class="about-product">
  <header>
    <img src="../../../../assets/images/logo.png" alt="Logo da Cloud">
  </header>

  <div class="content">
    <h2>Jogue no nosso time!</h2>
    <p>
      Sabe que a equipe da <strong>Cloud Store</strong> nunca está atrasada né?! Sempre trazemos camisas com a melhor
      qualidade do mercado e com preços incomparáveis.
    </p>

    <h2>Personalize do seu jeito!</h2>
    <p>
      Além de poder personalizar seu manto com seu nome e o número de sua preferência, ainda possui uma experiência pré
      e pós compra totalmente diferente do que você já viu.
    </p>

    <h2>Qualidade garantida!</h2>
    <p>
      Nossa dedicação à excelência é evidente em nossa linha de artigos esportivos. Utilizamos tecidos tecnológicos 100%
      poliéster, especialmente desenvolvidos para serem anti-umidade, absorver o suor e proporcionar uma sensação de
      pele seca e confortável.
    </p>

    <h2>Suporte humanizado</h2>
    <p>
      Não precisa se preocupar com seu pedido, vamos acompanha-lo até o momento da sua entrega. A equipe da Cloud
      Imports oferece um suporte via Whatsapp totalmente humanizado para facilitar em casos de dúvidas ou se precisar de
      ajuda.
      <br><br>
      Todos os envios são monitorados 24h por dia via sistema, com codigos de rastreio e avisos frequentes via e-mail
      e/ou Whatsapp a cada mudança de status. Caso o produto seja extraviado ou não chegue até o destinatário, contamos
      com o seguro onde o cliente receberá outro produto ou 100% do valor pago sem nenhuma burocracia.
      <br><br>
      <b>Não realizamos trocas/devoluções de peças personalizadas!</b>
    </p>

    <h2>Instruções de lavagem</h2>
    <p><i icon="washing_hand"></i> Lavar os seus mantos a mão é totalmente importante para manter ele conservado.</p>
    <p><i icon="dryer"></i> Não utilizar secadora.</p>
    <p><i icon="iron"></i> Não passe suas camisas com ferro de passar.</p>
    <p><i icon="dry_clean"></i> Não lave a seco.</p>
    <a routerLink="/washing">Mais instruções</a>
  </div>
</div>