<main id="text-page">
  <div class="content">
    <div class="section">
      <h1>Políticas de Trocas e Devoluções</h1>
    </div>
    <div class="section">
      <p>
        Fala torcedor! Temos uma novidade pra você! Agora você pode trocar ou devolver seu produto de
        forma mais rápida e fácil!
      </p>

      <p>
        <strong>Insatisfação com o produto</strong><br>
        Se você recebeu um produto e não ficou satisfeito ou ele simplesmente não serviu, é possível fazer a solicitação
        devolução para estorno em até 7 dias corridos ou de troca por vale compras em até 30 (trinta) dias corridos após
        a entrega. Para isso, o produto deverá estar em sua embalagem original, sem indícios de uso e com todos os itens
        e acessórios recebidos.
      </p>

      <p>
        Para os casos de insatisfação com o produto adquirido, solicite a troca, através do nosso Portal de Trocas e
        Devoluções, pelo endereço <a routerLink="/contact" [queryParams]="{exchange: true}">{{href + '/contact'}}</a>.
      </p>

      <p>
        <b>Atenção</b>: Não é possível trocar ou cancelar itens personalizados (com aplicação de nome, número,
        patrocínio ou patch de campeonatos), em razão da customização do produto. Caso seu item personalizado apresente
        defeito no produto ou na personalização, entre em contato com nossa Central de Relacionamento
        <a routerLink="/contact" [queryParams]="{exchange: true}">{{href + '/contact'}}</a>.
      </p>

      <p>
        Vale ressaltar também que em caso de arrependimento de compra, para que a solicitação seja aprovada em nosso
        sistema de troca e devolução, o cliente precisa anexar fotos nítidas de como os produtos se encontram para
        comprovação de que o mesmo se encontra sem uso e com as etiquetas.
      </p>

      <p>
        <strong>Pedido incorreto</strong><br>
        Se você recebeu um produto diferente do comprado em nosso site ou sem algum acessório, entre em contato com
        nossa Central de Relacionamento. Esta solicitação deverá ser feita no prazo máximo de 7 (sete) dias corridos
        após o recebimento do produto.
      </p>

      <p>
        Para comprovar o erro, solicitamos que o cliente realize o procedimento de troca através do nosso Portal de
        Trocas e Devoluções, pelo endereço troque.futfanatics.com.br. Iremos analisar a fotografia e, comprovado o erro,
        iniciaremos o procedimento de troca sem custos adicionais ao cliente. Em caso de erro no tamanho, é importante
        fotografar também a etiqueta.
      </p>

      <p>
        <b>Atenção</b>: As medidas informadas na página do produto em nosso site são aproximadas e podem sofrer
        alteração de um produto para outro. Esta variação pode ser de até 3 centímetros para mais ou para menos.
      </p>

      <p>
        <strong>Defeito no produto recebido</strong><br>
        Se após seu uso o produto apresentou algum tipo de defeito de fabricação, você terá 30 (trinta) dias corridos
        após a entrega para solicitar a troca ou devolução.
      </p>

      <p>
        Para comprovar o erro, solicitamos que cliente realize o procedimento de troca através do nosso Portal de Trocas
        e Devoluções, pelo endereço troque.futfanatics.com.br. Iremos analisar a fotografia e, comprovado o erro,
        iniciaremos o procedimento de troca sem custos adicionais ao cliente.
      </p>

      <p>
        <b>Atenção</b>: Caso o defeito tenha sido causado por problemas na utilização ou uso indevido você deverá
        procurar o fabricante do produto. Você encontra informações sobre o prazo de garantia do fornecedor e como
        contatá-lo na etiqueta ou embalagem do produto. Caso não consiga contato, fale com nossa Central de
        Relacionamento.
      </p>

      <p>
        <strong>Condições de Troca e Devolução</strong><br>
        Para que a troca ou devolução seja efetuada, o produto deverá respeitar as seguintes exigências:
      </p>

      <ul>
        <li>Não possuir sinais de uso, manchas, sujeira ou suor;</li>
        <li>Preservar a embalagem interna e etiquetas originais aplicadas à peça;</li>
        <li>
          respeitar os seguintes prazos: 30 (trinta) dias corridos em caso de insatisfação ou 7 (sete) dias corridos
          em casos de erro no pedido, defeito no produto ou arrependimento de compra, contados a partir da data de
          recebimento da mercadoria estipulada pela transportadora.
        </li>
      </ul>

      <p>
        Não é possível trocar ou cancelar itens personalizados (com aplicação de nome, número, patrocínio ou patch de
        campeonatos), em razão da customização do produto. Caso seu item personalizado apresente defeito no produto ou
        na personalização, entre em contato com nossa Central de Relacionamento.
      </p>

      <p>
        Também não é permitido a troca de partes individuais que compõem kits de produtos, como agasalhos, kits de
        uniformes e conjuntos infantis, sendo permitido somente a troca de todos os itens que compõem o kit.
      </p>

      <p>
        Por medida de segurança e para evitar riscos à saúde, peças íntimas como cuecas, sungas, maiôs, tops, biquinis,
        máscaras e itens de compressão não serão trocadas ou devolvidas. Caso a peça íntima adquirida apresente defeito,
        entre em contato com nossa Central de Relacionamento
        <a routerLink="/contact" [queryParams]="{exchange: true}">{{href + '/contact'}}</a>.
      </p>

      <p>
        Os produtos enviados à troca passam por análise no Centro de Distribuição da CloudStore, que tem prazo de até 5
        (cinco) dias úteis para análise. Caso não seja detectada nenhuma irregularidade, a troca é autorizada e seguirá
        o solicitado através do Portal de Trocas e Devoluções. Os produtos que não atenderem às condições exigidas acima
        não serão aceitos e automaticamente remetidos ao endereço de origem sem comunicação prévia.
      </p>

      <p>
        <strong>Procedimentos para Troca</strong><br>
        Para trocar um produto, acesse o nossa página de contato, pelo endereço
        <a routerLink="/contact" [queryParams]="{exchange: true}">{{href + '/contact'}}</a>, e
        preencha as informações.
      </p>

      <p>
        Caso esteja em sua conta, suas informações irão ser devidamente preenchidas, mantenha assim. Escolha como quer
        que retorne-mos o contato, se quer que retornemos por e-mail, Whatsapp ou ligação.
      </p>

      <p>
        Caso use o link acima, o assunto também será preenchido. Caso não, preencha o assunto com "Troca" ou
        "Devolução".
      </p>

      <p>
        Depois é só seguir no campo de mensagem, informando: itens que deseja trocar, motivo pelo qual está realizando a
        troca ou devolução, e deixando comentários caso necessário.
      </p>

      <p>
        Lembrando que em até 24 horas úteis, sua autorização de postagem será disponibilizada via e-mail e SMS.
      </p>

      <p>
        Assim que os produtos retornarem ao nosso Centro de Distribuição, eles passam por análise, e temos o prazo de
        até 5 (cinco) dias úteis para análise. Caso não seja detectada nenhuma irregularidade, a troca é autorizada e
        seguirá o que foi solicitado.
      </p>

      <p>
        <b>Atenção</b>: A restituição do valor do frete é proporcional ao valor dos produtos devolvidos.
      </p>

      <p>
        <strong>Despesas com Envio</strong><br>
        Com o novo procedimento do Portal de Trocas e Devoluções (troque.cloudstorebr.com), você não tem despesas com
        troca ou devolução. Mas é importante se atentar aos prazos da autorização para não perder sua autorização.
      </p>

      <p>
        <strong>Formas de Restituição de Valores</strong><br>
        É importante ressaltar que para os pedidos enviados com a solicitação do cliente, o procedimento adotado pela
        empresa é a emissão do Vale-Compra no valor dos produtos em caso de troca e estorno em caso de devolução.
      </p>

      <p>
        <strong>Confira a seguir as opções disponíveis para restituição de valores:</strong><br>
        <strong>Vale-Compra</strong><br>
        Você opta pelo Vale-Compra em qualquer situação referente a trocas por insatisfação.
      </p>

      <p>
        O Vale-Compra tem validade indeterminada e poderá ser utilizado exclusivamente pelo titular da conta na loja
        virtual, mediante uso de login e senha. Não é permitido vendê-lo para terceiros nem tampouco convertê-lo em
        dinheiro.
      </p>

      <p>
        <strong>Estorno parcial ou integral em cartão</strong><br>
        Após o recebimento do produto em nosso Centro de Distribuição e aprovação da devolução mediante análise dos
        itens, enviamos a solicitação de estorno para a administradora do cartão de crédito em até 7 (sete)
        dias úteis; esta por sua vez tem o prazo para processar a requisição de acordo com a política de cada
        administradora de cartão de crédito.
      </p>

      <p>
        Exclusivo para pagamentos em cartão de crédito, o procedimento de estorno parcial ou integral do valor pago em
        seu pedido seguirá as regras da administradora do cartão, podendo demorar de um a dois meses para que o valor
        seja devolvido, dependendo da data de vencimento de sua fatura.
      </p>

      <p>
        <strong>Reembolso em conta corrente</strong><br>
        A devolução de valores para compras realizadas através de boleto bancário ocorre através de reembolso em uma
        conta corrente ou poupança de mesma titularidade do responsável pelo pedido (CPF idêntico). Contas bancárias de
        terceiros são autorizadas, desde que ocorra formalização do cliente via Portal de Trocas e Devoluções ou e-mail.
      </p>

      <p>
        A restituição do valor só será processada após a aprovação da devolução mediante análise dos itens em nosso
        Centro de Distribuição. O valor do reembolso deverá constar na conta do titular da compra em até 7 (sete) dias
        úteis após a aprovação do setor de trocas e devoluções, e seguirá as regras do banco recebedor do crédito. As
        informações necessárias para este procedimento são: nome do banco, número da agência, número da conta e tipo
        (corrente ou poupança).
      </p>

      <p>
        <strong>Cuidados ao Receber seu Pedido</strong><br>
        A CloudStore mantém um padrão no envio dos seus pedidos, embalagens personalizadas e devidamente lacradas. É
        importante verificar a condição do mesmo no ato da entrega. Caso a embalagem apresente sinais de violação,
        recuse o recebimento e comunique imediatamente nossa Central de Relacionamento. Nunca utilize materiais
        cortantes na abertura da embalagem, você poderá danificar o produto.
      </p>

      <p>Equipe CloudStore.</p>
      <br>
      <p>Data de vigência: 16/07/2023.</p>

      <p>Este documento foi atualizado pela última vez em 16/07/2023.</p>
    </div>
  </div>
</main>

<app-footer></app-footer>