<main id="text-page">
  <div class="content">
    <div class="section">
      <h1>Política de Envio / Devolução</h1>
    </div>

    <div class="section">
      <p>
        Bem-vindo à nossa Política de Envio! Aqui estão todas as informações relevantes sobre como processamos e
        entregamos os seus pedidos. Leia atentamente antes de realizar uma compra e, caso tenha alguma dúvida, não
        hesite em entrar em contato com nossa equipe de atendimento ao cliente.
      </p>

      <p>
        <b>Processamento de Pedidos:</b>
        Assim que recebermos o seu pedido, faremos o possível para processá-lo o mais rápido possível. Verificaremos o
        pagamento e confirmaremos o endereço de entrega fornecido. Após essa etapa, iniciaremos o processo de envio.
      </p>
      <p>
        <b>Tempo de Processamento:</b>
        O tempo de processamento pode variar de acordo com o produto e o volume de pedidos recebidos. Faremos o máximo
        para processar o seu pedido em até 5 dias úteis. Caso ocorra algum atraso ou problema, entraremos em contato
        para mantê-lo informado.
      </p>
      <p>
        <b>Envio Internacional:</b>
        Para garantir a variedade de produtos e preços competitivos, trabalhamos com fornecedores internacionais. Ao
        realizar uma compra, o seu produto será enviado diretamente dos fornecedores por meio do serviço AliExpress
        Standard Shipping.
      </p>
      <p>
        <b>Prazo de Entrega:</b>
        O prazo de entrega pode variar de acordo com o produto, o fornecedor e a região de entrega. Estimamos que a
        entrega seja feita em aproximadamente 18 - 22 dias úteis. É importante ressaltar que, em alguns casos, o prazo
        de entrega pode ser mais longo devido a fatores fora de nosso controle, como atrasos alfandegários.
      </p>
      <p>
        <b>Rastreamento do Pedido:</b>
        Após o envio do seu pedido, você receberá um código de rastreamento fornecido pelo fornecedor. Esse código
        permitirá que você acompanhe o progresso da entrega por meio do nosso site: <a
          routerLink="/tracking">{{host}}/tracking</a>. Certifique-se de verificar regularmente o status do seu pedido
        para ficar atualizado sobre sua localização.
      </p>
      <p>
        <b>Taxas e Impostos:</b>
        Entendemos que as taxas alfandegárias podem ser uma preocupação para os clientes. Na CloudStore, estamos
        comprometidos em proporcionar uma experiência de compra tranquila. Portanto, cobriremos todos os custos
        alfandegários associados à sua encomenda. Você não precisará se preocupar com quaisquer taxas adicionais ao
        receber o seu pedido.
      </p>
      <p>
        <b>Devoluções e Reembolsos:</b>
        Caso você deseje devolver um produto, nossa política de devolução está disponível em nosso site para consulta
        em: <a routerLink="/exchange">{{host}}/exchange</a>. É importante lembrar que, em casos de devolução, o produto
        deve ser enviado de volta ao fornecedor na China. Faremos o possível para auxiliá-lo nesse processo e garantir
        um reembolso adequado.
      </p>
      <p>
        <b>Atendimento ao Cliente:</b>
        Nosso objetivo é oferecer um excelente atendimento ao cliente. Estamos aqui para ajudá-lo em todas as etapas do
        processo de envio. Se tiver alguma dúvida, preocupação ou problema relacionado ao envio, não hesite em entrar em
        contato conosco. Nossa equipe está pronta para auxiliá-lo da melhor maneira possível.
      </p>
      <p>
        Agradecemos por escolher nossa loja. Trabalhamos duro para garantir que os produtos sejam enviados com segurança
        e rapidez para você. Estamos comprometidos em oferecer uma experiência de compra satisfatória, tornando o
        processo de envio o mais transparente possível.
      </p>
      <p>
        Atualizaremos regularmente nossa Política de Envio para mantê-lo informado sobre quaisquer mudanças ou
        atualizações. Recomendamos que você revise esta página periodicamente para estar ciente de nossas diretrizes
        mais recentes.
      </p>
      <p>
        Obrigado pela confiança em nosso serviço. Esperamos que sua experiência de compra seja agradável e que você
        desfrute de nossos produtos de qualidade.
      </p>

      <p>Equipe CloudStore.</p>

      <br>

      <p>Data de vigência: 16/07/2023.</p>

      <p>Este documento foi atualizado pela última vez em 16/07/2023.</p>
    </div>
  </div>
</main>

<app-footer></app-footer>