<main id="checkout">
  <div class="container">
    <div class="row">
      <div class="mob">
        <mat-stepper #stepper>
          <mat-step [completed]="this.stepsValidations[1]">
            <app-personal-info (next)="handleNextStep(stepper)"></app-personal-info>
          </mat-step>
          <mat-step [completed]="this.stepsValidations[2]">
            <app-delivery-address (next)="handleNextStep(stepper)"
              (prev)="handlePrevStep(stepper)"></app-delivery-address>
          </mat-step>
          <mat-step [completed]="this.stepsValidations[3]">
            <app-shipping-methods></app-shipping-methods>
          </mat-step>
          <mat-step [completed]="this.stepsValidations[4]">
            <app-payment-methods></app-payment-methods>
          </mat-step>
        </mat-stepper>
      </div>
      <div class="col desk">
        <div class="page">
          <app-personal-info></app-personal-info>
        </div>
        <div class="page">
          <app-delivery-address></app-delivery-address>
        </div>
      </div>
      <div class="col desk">
        <div class="page">
          <app-shipping-methods></app-shipping-methods>
        </div>
        <div class="page">
          <app-payment-methods></app-payment-methods>
        </div>
      </div>
      <div class="col desk">
        <div class="resume">
          <h1>Resumo do pedido</h1>
          <div class="items-list">
            <div class="product" *ngFor="let item of selected_items; let i = index">
              <app-product-list-item [actions]="false" [product]="item.product_variant.product" [cartItem]="item">
              </app-product-list-item>
            </div>
          </div>

          <div class="resume-item">
            <span class="f-16">Subtotal: </span>
            <span class="f-16">{{ totalValue | currency }}</span>
          </div>

          <div class="resume-item">
            <span class="f-14">Frete: </span>
            <span class="f-14" [ngClass]="{free: freeShipping}">{{ order.shipping_price | currency }}</span>
          </div>

          <div class="resume-item">
            <span class="f-14">Desconto: </span>
            <span class="f-14">{{ (totalValue - discountValue) | currency }}</span>
          </div>

          <div class="resume-item" *ngIf="order.cupom && cupomDiscount">
            <span class="f-14">Cupom ({{order.cupom}}): </span>
            <span class="f-14">{{ cupomDiscount | currency }}</span>
          </div>

          <div class="resume-item total">
            <span class="f-20">Total do pedido: </span>
            <span class="f-20">
              <strong *ngIf="freeShipping && discountValue">{{ discountValue | currency }}</strong>
              <strong *ngIf="!freeShipping && discountValue">
                {{ (discountValue + (order.shipping_price || 0)) | currency }}
              </strong>
              <strong *ngIf="!discountValue">{{ 0 | currency }}</strong>
            </span>
          </div>

          <form class="cupom-area" [formGroup]="cupomForm" (ngSubmit)="handleApplyCupom()">
            <div class="line">
              <div class="card-input">
                <input type="text" placeholder="Cupom de desconto" formControlName="value">
              </div>
              <div class="card-button">
                <button mat-button type="submit" class="primary">Aplicar</button>
              </div>
            </div>
            <span *ngIf="cupomError" class="cupom-error">
              Esse cupom é inválido ou já foi utilizado.
            </span>
          </form>

          <button mat-button class="primary"
            [ngClass]="{ creating: creatingStatus === 'loading', created: creatingStatus === 'created' }"
            (click)="handleCreateOrder()" [disabled]="disabledSubmit">
            <span class="idle">
              Comprar agora
            </span>
            <span class="loading f-28">
              <i icon="box_heart"></i>
              <i icon="shirt"></i>
            </span>
            <span class="success">
              <i icon="check" class="f-28"></i>
              <span>Os mantos já são seus!</span>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</main>