#delivery-address {
  .container {
    .content {
      .mat-radio-group {
        .mat-radio-button {
          ::ng-deep {
            .mat-radio-label-content {
              & > span {
                padding-right: 42px;
                &.street-num {
                  font-weight: 600;
                }
              }
              button {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
        }
      }
      .not-found {
        margin-top: 0.5rem;
        .title {
          text-align: center;
        }
        .mat-expansion-panel {
          box-shadow: none;
          background-color: transparent;
          ::ng-deep .mat-expansion-panel-body {
            padding: 0;
            form {
              margin-top: 0.5rem;
            }
          }
        }
      }
    }
  }
}
